@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h1, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  background-color: #353535;
}

.menu {
  max-width: 80%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 20px;
  pointer-events: none;
}
.menu__icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  pointer-events: all;
}
.menu__icon::before, .menu__icon::after, .menu__icon span {
  height: 2px;
  background-color: #fff;
  left: 0;
  position: absolute;
}
.menu__icon::before, .menu__icon::after {
  content: "";
  width: 100%;
}
.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
}
.menu__body {
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #292929;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100000;
}
.menu__logo {
  font-size: 30px;
  margin: 0 0 30px 0;
}
.menu__logo a {
  color: #fff;
}
.menu__close {
  font-size: 40px;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.menu__title {
  font-size: 26px;
  color: #fff;
  margin: 0 0 10px 0;
}
.menu__list {
  flex: 1 1 auto;
  height: 80%;
  max-height: 80%;
}
.menu__list > li {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.menu__list > li._active::after {
  transform: rotate(0);
}
.menu__list > li._active .menu__sub-list {
  display: block;
}
.menu__list > li::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 20px;
  top: 15px;
  transform: rotate(180deg);
}
.menu__sub-list {
  display: none;
  background-color: #1d1d1d;
  margin: 10px 0 0 0;
  border-radius: 10px;
}
.menu__sub-list li {
  padding: 10px;
}
.menu__sub-list a {
  display: block;
  color: #fff;
  font-size: 18px;
}
.menu__feedback {
  text-align: center;
  font-size: 30px;
  margin: 0 0 10px 0;
}
.menu__feedback a {
  color: #fff;
}
.menu__language {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}
.menu__language img {
  width: 40px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu._active .menu__body {
  transform: translateX(0);
}

.menu._active + .content {
  filter: blur(5px);
}

.repost {
  transform: translateY(100%);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 20px 20px 50px 20px;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.repost__first-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}
.repost__title {
  font-size: 30px;
}
.repost__close {
  font-size: 30px;
  cursor: pointer;
}
.repost__items {
  overflow: auto;
  display: flex;
  padding: 5px;
}
.repost__items::-webkit-scrollbar {
  height: 1px;
}
.repost__items::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.repost__items::-webkit-scrollbar-thumb {
  background-color: #575757; /* цвет плашки */
  border-radius: 0px; /* закругления плашки */
  border: 0px solid transparent; /* padding вокруг плашки */
}
.repost__items li {
  margin: 0 20px 0 0;
}
.repost__items li:last-child {
  margin: 0;
}
.repost__link img {
  max-width: 60px;
  max-height: 60px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.repost._active {
  transform: translateY(0);
}

.content {
  flex: 1 1 auto;
  transition: all 0.3s ease 0s;
  position: relative;
  display: flex;
  flex-direction: column;
}
.content__pause {
  display: block;
  position: absolute;
  max-width: 50px;
  max-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -60%);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}
.content__video._active .content__pause {
  opacity: 0;
}
.content__pause svg {
  max-width: 100px;
  max-height: 100px;
}
.content__video {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__video video {
  display: block;
  width: 100%;
  height: 100%;
}
.content__actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  flex-direction: column;
}
.content__like, .content__repost {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.content__like {
  fill: white;
  transition: all 0.5s ease 0s;
}
.content__like._active {
  fill: red;
}
.content__repost {
  margin: 10px 0 0 0;
}
.content__like-counter, .content__repost-counter {
  margin: 5px 0 0 0;
  color: #fff;
  text-align: center;
}
.content__info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.content__title, .content__description {
  color: #fff;
  line-height: 130%;
}
.content__title {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.footer {
  position: relative;
}
.footer__logo {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #1d1d1d;
}